@import './constants/colors';
@import './constants/fonts';

.line-item {
  position: relative;
  width: 100%;
  height: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: .5rem;
  background-color: $lightGray;
  margin-bottom: 5px;
  box-sizing: border-box;
  transition: .1s;
  border-left: 2px solid $darkGreen;

  &:hover {
    font-size: 1.25rem;
  }

  .fill-level {
    position: absolute;
    top: 0;
    left: 0;
    // width: 50%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.151);
  }

  i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    color: $primaryGray;

    &:hover {
      color: #c62828;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .category {
    font-weight: bold;
    margin-left: 1.5rem;
  }

  .percentage {
    position: absolute;
    left: 50%;
  }

  input {
    background-color: $lightGray;
    border: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.15rem;
    font-family: $roboto;
    border-bottom: 1px solid gray;
    color: white;
    width: 5rem;

    &:focus {
      outline: none;
    }
  }
}