@import './constants/colors';
@import './constants/fonts';

.line-item {
  position: relative;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: .5rem;
  background-color: $lightGray;
  margin-bottom: 5px;
  box-sizing: border-box;

  &:hover {
    font-size: 1.25rem;
  }

  i {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
    color: $primaryGray;

    &:hover {
      color: #c62828;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .category {
    font-weight: bold;
    margin-left: 2rem;
  }

  .percentage {
    position: absolute;
    left: 50%;
  }

  input {
    background-color: $lightGray;
    border: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    font-family: $roboto;
    border-bottom: 1px solid gray;
    color: white;
    width: 5rem;

    &:focus {
      outline: none;
    }
  }
}