@import './constants/colors';
@import './constants/fonts';

.line-item {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: .5rem;
  border-bottom: 5px solid $primaryGray;
  box-sizing: border-box;

  .category {
    font-size: 1rem;
    font-weight: bold;
  }

  input {
    background-color: $lightGray;
    border: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-size: 1.25rem;
    font-family: $roboto;
    border-bottom: 1px solid gray;
    color: white;
    width: 5rem;

    &:focus {
      outline: none;
    }
  }
}