.main-container {
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  grid-template-areas: 
    "salary salary"
    "save insurance"
    "pay pay"
    "chart line-items"
    ;
}

.salary-input {
  grid-area: salary;
}

.pre-tax-savings {
  grid-area: save;
  // justify-self: center;
}

.medical-insurance {
  grid-area: insurance;
  // justify-self: center;
}

.monthly-pay {
  grid-area: pay;
}

// .hello {
//   width: 100%;
//   border: 1px solid green;
//   grid-area: header;
// }