.main-container {
  position: relative;
  width: 90vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;
  grid-template-areas: 
    "salary salary"
    "save insurance"
    "pay pay"
    "chart line-items"
    ;

    .save-button {
      position: absolute; 
      right: 0;
      bottom: 0;
    }

    .pie-chart {
      margin-top: 2rem;
    }
}

.salary-input {
  grid-area: salary;
}

.pre-tax-savings {
  grid-area: save;
  // justify-self: center;
}

.medical-insurance {
  grid-area: insurance;
  // justify-self: center;
}

.monthly-pay {
  grid-area: pay;
}

